<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Job Postings</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
    <h2>Job Postings</h2>
        <table class="table">            
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>View</th>                
            </tr>
            <tr th:each="jobposting : ${jobpostings}">
                <td th:text="${jobposting.id}">Job Posting ID</td>
                <td th:text="${jobposting.title}">Job Title</td>
                <td th:text="${jobposting.description}">Job Posting Description</td>
                <td><a class="btn btn-default" href="#" th:href="${'/user/employer/jobposting/' + jobposting.id}">View</a> </td>                
            </tr>
        </table>        
        <a th:href="${'/user/employer/jobposting/new'}" class="btn btn-default">New</a>
        <a th:href="@{/user/employer/logout}">Sign out</a>
    </div>    
</body>
</html>