<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Job Posting Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="row"><h2>Job Posting Details</h2></div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">ID:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${jobposting.id}">Job Posting ID</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Title:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${jobposting.title}">Job Posting Title</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${jobposting.description}">Job Posting Description</p>
                </div>
            </div>            
        </form>
        <a th:href="${'/user/employer/jobpostings'}" class="btn btn-default">Job Postings</a>
        <a th:href="@{/user/employer/logout}">Sign out</a>
    </div>    
</body>
</html>