<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Job Posting</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
<h2>Create Job Posting</h2>
<div class="container">
    <form th:object="${jobposting}" th:action="@{/user/employer/jobposting}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label>Title</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" th:field="*{description}" class="form-control" placeholder="Description">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>